In [3]:
import sqlite3

import pandas as pd

In [4]:
pd.options.display.max_rows = 500

In [5]:
class SQLQueryExecuter():
    
    def __init__(self, filepath):
        self.filepath = filepath
    
    def __enter__(self):
        self.con = sqlite3.connect(self.filepath)
        self.cur = self.con.cursor()     
        
        return self 
    
    def __exit__(self, *exc):
        self.cur.close()
        self.con.close()
        
    def get_df_from_cursor_result(self):
        if self.cur.description:
            column_names = [x[0] for x in self.cur.description]
            records = [row for row in self.cur]
            return pd.DataFrame(records, columns=column_names)
        else:
            raise ValueError('')
    
    def get_query_results(self, query_string):
        self.cur.execute(query_string)
        return self.get_df_from_cursor_result()

In [6]:
class SQLTableMaker():
    
    def __init__(self, filepath, table_name, table_column_name_and_type_dict):
        self.filepath = filepath
        self.table_name = table_name
        self.table_column_name_and_type_dict = table_column_name_and_type_dict
        
    def __enter__(self):
        self.con = sqlite3.connect(self.filepath)
        self.cur = self.con.cursor()     
        
        return self 
    
    def __exit__(self, *exc):
        self.cur.close()
        self.con.close()
        
    def add_table(self):
        
        table_column_name_string = ', '.join(f'"{key}" {value}' for key, value in self.table_column_name_and_type_dict.items())
        
        self.cur.execute(f'drop table if exists {self.table_name}')
        self.cur.execute(f'create Table {self.table_name}({table_column_name_string})')
        
    def add_row_to_table_from_column_names_and_value_tuple(self, column_names, value_tuple, placeholder=None, number_of_columns=None):
        
        
        if not placeholder:
            if number_of_columns:
                placeholder = ', '.join(['?' for _ in range(number_of_columns)])
            else:
                raise ValueError('Must provide either placeholder or number_of_columns')
            
        query = f'INSERT INTO {self.table_name} ({column_names}) VALUES ({placeholder})'
        
        try: 
            self.cur.execute(query, value_tuple)
        except sqlite3.OperationalError as err:
            print(f'insert error: {err}')
            
    def add_multiple_rows_to_table_from_column_names_and_list_of_value_tuples(self, column_names, number_of_columns, list_of_value_tuples):
    
        placeholder = ', '.join(['?' for _ in range(number_of_columns)])
        query = f'INSERT INTO {self.table_name} ({column_names}) VALUES ({placeholder})'
        
        try: 
            self.cur.executemany(query, list_of_value_tuples)
        except sqlite3.OperationalError as err:
            print(f'insert error: {err}')
    
    def commit(self):
        self.con.commit()

In [7]:
products_df = pd.read_csv('Products1.txt', sep='|')
products_df['Size'] = products_df['Size'].str.replace('[^\x00-\x7F]', ' ', regex=True)
products_df['base_price_dollar'] = products_df['BasePrice'].str.extract('\$(.+)')
products_df['base_price_dollar'] = pd.to_numeric(products_df['base_price_dollar'])
products_df

,Manufacturer,Product Name,Size,itemType,SKU,BasePrice,base_price_dollar
0,Zatarains,Jambalaya Rice Mix,12 oz,Rice/Rice Mix,42081001,$2.49,2.49
1,Zatarains,Jambalaya Rice Mix,8 oz,Rice/Rice Mix,42082001,$1.79,1.79
2,Yucatan,Guacamole Regular,8 oz,NaN,42083001,$3.99,3.99
3,Yuban,Coffee Original Blend,12 oz,Coffee/Creamer,42084001,$3.99,3.99
4,Yoplait,GoGurt Variety Pack,8 ct,Yogurt,42085001,$2.99,2.99
...,...,...,...,...,...,...,...
2070,Aidells,Meatballs Pineapple Teriyaki,12 oz,Frozen Food,44156001,$6.59,6.59
2071,Aidells,Meatballs Sundried Tomato,12 oz,Frozen Food,44157001,$6.59,6.59
2072,Act II,Popcorn Butter,6 pkg,Frozen Food,44158001,$3.99,3.99
2073,A Taste Of Thai,Coconut Milk Unsweetened,13.5 oz,Drink,44159001,$3.59,3.59
2074,4C,Iced Tea Mix Regular,53 oz,Drink,44160001,$6.49,6.49

### Combine the databases

In [8]:
table_and_column_names_dict = {
    '1' : ['Transactions_Inv', {
        'trans_date': 'date',
        'customer_number': 'customer_number',
        'SKU': 'sku',
        'price': 'sale_price',
        'left_in_stock': 'items_left',
        'cases_bought': 'total_cases_ordered',
     }],
    '2' : ['transacStockandCases', {
        'trans_date': 'date',
        'customer_ID': 'customer_number',
        'SKU': 'sku',
        'salePrice': 'sale_price',
        'itemsLeft': 'items_left',
        'caseOrdered': 'total_cases_ordered',
    }],
    '3' : ['transactions', {
        'Date': 'date',
        'Customer #': 'customer_number',
        'SKU': 'sku',
        'Sale Price': 'sale_price',
        'Items Left': 'items_left',
        'Total Cases Ordered': 'total_cases_ordered',
    }]
}

### Just make sure column names are correct. Sort of an end-to-end test to make sure all database are readable

In [9]:
for team, (table, column_name_dict) in table_and_column_names_dict.items():
    
    database_address = f'./../hw5/databases/Team{team}_grocery.db'

    with SQLQueryExecuter(database_address) as sql_query_executer:

        query = f'''
        SELECT *
        FROM {table}
        LIMIT 10
        '''

        transactions_df = sql_query_executer.get_query_results(query)
        print(team, 'Before', list(transactions_df.columns))
        transactions_df = transactions_df.rename(column_name_dict, axis=1)
        print(team, 'After', list(transactions_df.columns))

1 Before ['trans_date', 'customer_number', 'SKU', 'price', 'left_in_stock', 'cases_bought']
1 After ['date', 'customer_number', 'sku', 'sale_price', 'items_left', 'total_cases_ordered']
2 Before ['trans_date', 'customer_ID', 'SKU', 'salePrice', 'itemsLeft', 'caseOrdered']
2 After ['date', 'customer_number', 'sku', 'sale_price', 'items_left', 'total_cases_ordered']
3 Before ['Date', 'Customer #', 'SKU', 'Sale Price', 'Items Left', 'Total Cases Ordered']
3 After ['date', 'customer_number', 'sku', 'sale_price', 'items_left', 'total_cases_ordered']

In [ ]:
transactions_columns_and_type_dict = {
    'store': 'INTEGER',
    'date': 'TEXT',
    'customer_number': 'INTEGER',
    'sku': 'INTEGER',
    'sale_price': 'REAL',
    'items_left': 'INTEGER',
    'total_cases_ordered': 'INTEGER'
}

with SQLTableMaker('./databases/region_a.db', 'transactions', transactions_columns_and_type_dict) as sql_table_maker:
    sql_table_maker.add_table()
    
    for team, (table, column_name_dict) in table_and_column_names_dict.items():
    
        database_address = f'./../hw5/databases/Team{team}_grocery.db'
    
        with SQLQueryExecuter(database_address) as sql_query_executer:

            query = f'''
            SELECT *
            FROM {table}
            '''
    
            transactions_df = sql_query_executer.get_query_results(query)
            transactions_df = transactions_df.rename(column_name_dict, axis=1)
            transactions_df['store'] = team
    
        column_names = ', '.join([f'"{column}"' for column in transactions_df.columns])

        list_of_tuples = transactions_df.itertuples(index=False, name=None)
        sql_table_maker.add_multiple_rows_to_table_from_column_names_and_list_of_value_tuples(column_names, len(transactions_df.columns), list_of_tuples)

        sql_table_maker.commit()

In [11]:
region_a_database_address = './databases/region_a.db'

In [12]:
with SQLQueryExecuter(region_a_database_address) as sql_query_executer:
    
    query = '''
    SELECT name
    FROM sqlite_master 
    WHERE type ='table' 
        AND name NOT LIKE 'sqlite_%';
    '''
    
    tables_df = sql_query_executer.get_query_results(query)
    
tables_df

           name
0  transactions

In [14]:
with SQLQueryExecuter(region_a_database_address) as sql_query_executer:

    query = '''
    SELECT *
    FROM transactions
    '''
    
    transactions_df = sql_query_executer.get_query_results(query)

transactions_df

,store,date,customer_number,sku,sale_price,items_left,total_cases_ordered
0,1,2020-01-01,1,42355001,4.06,179,15
1,1,2020-01-01,1,42562001,2.96,179,15
2,1,2020-01-01,1,44009001,1.31,23,2
3,1,2020-01-01,1,44136001,2.92,23,2
4,1,2020-01-01,1,42813001,1.86,23,2
...,...,...,...,...,...,...,...
36067284,3,20201231,378315,44056001,1.93,31,638
36067285,3,20201231,378315,43770001,0.56,36,642
36067286,3,20201231,378315,44073001,1.46,23,630
36067287,3,20201231,378315,43126001,2.51,31,634
36067288,3,20201231,378315,42864001,2.62,23,632

In [15]:
transactions_df['store'].value_counts()

3    13415068
2    11328065
1    11324156
Name: store, dtype: int64

### top 25 for validation

In [16]:
times_sold_df = (transactions_df
                     .groupby(['sku', 'store'])['date']
                     .count()
                     .sort_values(ascending=False)
                     .unstack()
                     .reset_index()
                     .rename({'sku': 'SKU'}, axis=1)
                     .merge(products_df[['Product Name', 'Size', 'itemType', 'SKU']], on=['SKU'])

                )

times_sold_df.head(25)

,SKU,1,2,3,Product Name,Size,itemType
0,42081001,6245,6356,7575,Jambalaya Rice Mix,12 oz,Rice/Rice Mix
1,42082001,6433,6276,7441,Jambalaya Rice Mix,8 oz,Rice/Rice Mix
2,42083001,6419,6279,7598,Guacamole Regular,8 oz,NaN
3,42084001,6285,6234,7626,Coffee Original Blend,12 oz,Coffee/Creamer
4,42085001,6378,6305,7587,GoGurt Variety Pack,8 ct,Yogurt
5,42086001,6249,6357,7510,Italian Dressing,16 oz,Salad Dressing
6,42087001,6385,6209,7622,Cheeseburger Heat & Serve Sliders,29.28 oz,NaN
7,42088001,6281,6212,7530,Choice Cuts Poultry,36 oz,Pet Food
8,42089001,6350,6281,7646,Farmers Pick Concord Grape,46 oz,NaN
9,42090001,6411,6387,7528,Juice Red Grape,64 oz,Juice
10,42091001,1399,1336,1494,Cereal Whole Grain Biscuit,15 oz,Cereal
11,42092001,6310,6417,7501,Shells & Cheese Microwave Cup,2.39 oz,Mac & Cheese
12,42093001,6453,6514,7547,Shells & Cheese Original,12 oz,Mac & Cheese
13,42094001,6511,6455,7694,Splash Berry Blend,64 oz,Juice
14,42095001,6410,6399,7607,Splash Mango Peach,64 oz,Juice
15,42096001,6309,6293,7605,V-Fusion Berry,8 pkg,Juice
16,42097001,6355,6390,7530,V-Fusion Pomegranate Blueberry,46 oz,Juice
17,42098001,6289,6373,7515,V-Fusion Refreshers Peach Strawberry,46 oz,Juice
18,42099001,1494,1487,1502,Whole Grain Original Cereal,13 oz,Cereal
19,42100001,6324,6428,7619,Iced Tea Lemon,128 oz,NaN
20,42101001,6395,6295,7382,Orange Juice Some Pulp,89 oz,Juice
21,42102001,6395,6221,7590,Trop50 Calcium,89 oz,Juice
22,42103001,6397,6229,7549,Tri-State Almonds,15.5,Nuts
23,42104001,6301,6280,7722,Tri-State Asparagus,14.8,Fresh Vegetables
24,42105001,6358,6319,7586,Tri-State Baby Onion,11.8,Fresh Vegetables

In [17]:
top_items_sku_list = []

for store in range(1, 4):
    top_items_sku_list.extend(list(times_sold_df.sort_values(store).tail(25)['SKU'].values))

top_25_from_each_store_df = times_sold_df[times_sold_df['SKU'].isin(top_items_sku_list)].copy()
top_25_from_each_store_df['Total Sold'] = top_25_from_each_store_df[[1, 2, 3]].sum(axis=1)
top_25_from_each_store_df.sort_values('Total Sold', ascending=False)

,SKU,1,2,3,Product Name,Size,itemType,Total Sold
279,42360001,43345,43649,44207,Whole Milk Milk,1/2 gal,Milk,131201
276,42357001,43549,43235,44334,2.00% Milk,1 gal,Milk,131118
275,42356001,43660,43437,43920,1.00% Milk,1/2 gal,Milk,131017
278,42359001,43143,43509,44210,Whole Milk Milk,1 gal,Milk,130862
277,42358001,43368,43077,44027,2.00% Milk,1/2 gal,Milk,130472
274,42355001,43135,43163,44113,1.00% Milk,1 gal,Milk,130411
233,42314001,12193,12449,12906,Squeeze Jelly Grape,20 oz,Jelly/Jam,37548
232,42313001,12257,12413,12797,Jelly Grape,18 oz,Jelly/Jam,37467
231,42312001,12315,12568,12496,Jam Strawberry,18 oz,Jelly/Jam,37379
230,42311001,12155,12407,12631,Jam Grape,18 oz,Jelly/Jam,37193
1901,43987001,6523,6473,7701,Better Canned Yams,13.8,Canned Vegetables,20697
13,42094001,6511,6455,7694,Splash Berry Blend,64 oz,Juice,20660
569,42650001,6451,6519,7665,Coffee Peruvian Chanchamayo,10 oz,Coffee/Creamer,20635
459,42540001,6378,6571,7653,Goldfish Cheddar,6.6 oz,NaN,20602
601,42682001,6533,6372,7695,Nationeel Graham Crackers,6.31,Cookies,20600
649,42730001,6419,6359,7814,Applesauce Cinnamon,24 oz,NaN,20592
1541,43627001,6396,6398,7782,Donuts Ultimate Chocolate Lovers Variety Pack,17 oz,Baked Goods Other than Bread,20576
1757,43843001,6344,6425,7798,Carlson String Cheese,18.8,Cheese,20567
902,42986001,6441,6527,7589,Imagine Frozen Cheese Pizza,15.2,Pizza,20557
1882,43968001,6275,6373,7886,Hamburger Helper Chili Macaroni,5.2 oz,Pasta/Noodles,20534
61,42142001,6408,6517,7601,Tri-State Sweet Onion,20.3,Fresh Vegetables,20526
1009,43095001,6514,6345,7657,High Top Lemons,18.2,Fresh Fruit,20516
12,42093001,6453,6514,7547,Shells & Cheese Original,12 oz,Mac & Cheese,20514
1119,43205001,6465,6520,7527,Gorilla Sharp Cheddar Cheese,10.1,Cheese,20512
968,43052001,6392,6516,7597,Donuts Powdered Bagged Donettes,10.5 oz,NaN,20505
1466,43552001,6528,6424,7548,Orange Juice No Pulp,89 oz,NaN,20500
1062,43148001,6337,6360,7789,Hermanos Golden Delcious Apples,6.09,Fresh Fruit,20486
1166,43252001,6501,6271,7713,Gerolli Seasoned Hamburger,17.5,Hamburger,20485
208,42289001,6500,6254,7728,Coffee House Blend,12 oz,Coffee/Creamer,20482
655,42736001,6356,6523,7601,Monarch Thai Rice,6.43,Rice,20480
845,42929001,6374,6286,7819,Special K Brown Sugar Cinnamon Pastry Crisps,4.4 oz,Snacks,20479
150,42231001,6257,6374,7835,Cake Koffee Kake Cream Filled,12 oz,Baked Goods Other than Bread,20466
506,42587001,6311,6289,7860,Cafe Solano Coffee,12 oz,Coffee/Creamer,20460
1391,43477001,6356,6542,7541,Tostitos Bite Size Rounds,13 oz,Snacks,20439
1136,43222001,6380,6268,7785,Golden Frozen Broccoli,11.6,Frozen Vegetables,20433
1628,43714001,6290,6594,7536,Denny Glass Cleaner,18.2,Cleaners,20420
1579,43665001,6538,6264,7617,Ebony Mixed Nuts,7.28,Nuts,20419
1505,43591001,6527,6238,7654,Buns Cinnamon Swirl,18 oz,Baked Goods Other than Bread,20419
165,42246001,6273,6352,7783,Swell Canned Peaches,12.3,Canned Fruit,20408
1499,43585001,6509,6356,7532,Even Better Mild Cheddar Cheese,6.89,Cheese,20397
370,42451001,6311,6532,7552,Pleasant Beef Soup,14.8,Soup,20395
119,42200001,6222,6508,7660,Tell Tale Garlic,6.22,Fresh Vegetables,20390
1730,43816001,6356,6249,7780,Carrington Frozen Peas,19.7,Frozen Vegetables,20385
781,42865001,6249,6340,7777,Oven Cravers Cordon Bleu,5 oz,NaN,20366
921,43005001,6503,6242,7616,Coffee Whole Bean Medium,8.8 oz,Coffee/Creamer,20361
415,42496001,6281,6278,7799,PigTail Frozen Mushroom Pizza,8.1,Pizza,20358
1735,43821001,6344,6521,7488,Carrington Ice Cream,14.7,Ice Cream,20353
749,42832001,6268,6273,7807,Landslide Vegetable Oil,13.8,Cooking Oil,20348
653,42734001,6539,6301,7493,Sea Salt Fine,17.6 oz,NaN,20333
1666,43752001,6359,6542,7431,FF & LS Broth Chicken,32 oz,NaN,20332
597,42678001,6345,6547,7431,Nationeel Fondue Mix,5.98,Dips,20323
260,42341001,6507,6269,7542,Coffee Classic Regular,11.5 oz,Coffee/Creamer,20318
896,42980001,6328,6208,7780,Imagine Beef TV Dinner,7.18,TV Dinner,20316
129,42210001,6501,6275,7532,Tell Tale Mushrooms,11.8,Fresh Vegetables,20308
1661,43747001,6508,6206,7569,Consolidated Childrens Aspirin,11,Aspirin,20283